header {
    z-index: 100000000 !important;
}

#home {
    margin-top: -22px !important;
}

.text_2 span {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin: 0;
    color: rgb(255, 0, 0);
}

.text_2 span:before {
    content: attr(data-text);
    position: absolute;
    background: linear-gradient(#f70000, #f89200, #f8f501, #038f00, #0168f8, #a200f7);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 90%;
    line-height: 0.9;
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
    animation: swing 5s infinite;
    animation-direction: alternate;
}

@keyframes swing {
    0% {
        -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
        clip-path: ellipse(120px 120px at -2.54% -9.25%)
    }
    50% {
        -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
        clip-path: ellipse(120px 120px at 49.66% 64.36%);
    }
    100% {
        -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
        clip-path: ellipse(120px 120px at 102.62% -1.61%);
    }
}

.bg_cover {
    background-image: url(../img/Ahmad-Bin-Ali-Stadium-1024x768.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 118px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.swiper-slide {
    background: #080321;
}

.sub-title-header {
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: -20px;
    margin-left: 20px;
}

.phase-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phase-item1 .phase1-content {
    border-left: 4px solid #f30040;
    text-align: left;
    padding-left: 15px;
    color: white;
}

.phase-item1 .phase1-img {
    width: 28%;
    min-width: 86px;
    color: white;
    font-size: 25px;
    margin-right: 5px;
}


/* intro div */

.intro_div {
    height: auto;
    position: relative;
    /* background-color: #000d24; */
}

.intro_item {
    width: 50%;
}

.box {
    width: 100%;
    /* height: 100%; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card_video {
    margin: auto;
    width: 100%;
    box-shadow: 0px -1px 22px 11px rgba(36, 90, 156, 0.93);
    -webkit-box-shadow: 0px -1px 22px 11px rgba(36, 90, 156, 0.93);
    -moz-box-shadow: 0px -1px 22px 11px rgba(36, 90, 156, 0.93);
}

.card_box {
    margin: auto;
    width: 80%;
    /* height: auto; */
    border: 1px solid #fff;
    box-shadow: 0px -2px 11px 5px rgba(36, 90, 156, 1) inset;
    -webkit-box-shadow: 0px -2px 11px 5px rgba(36, 90, 156, 1) inset;
    -moz-box-shadow: 0px -2px 11px 5px rgba(36, 90, 156, 1) inset;
    background-color: #000d2477;
    backdrop-filter: blur(7px)
}

.text_1 {
    font-size: 2.5vw;
    margin-right: 10%;
    -webkit-text-stroke: 1px white;
    color: #000d249e;
    font-weight: bold;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
}

.text_2 {
    font-size: 2.1vw;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    font-family: 'Copperplate', sans-serif;
    font-weight: bold;
    text-align: initial;
}

.text_3 {
    font-size: 1.6vw;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    font-family: 'Copperplate', sans-serif;
    text-align: initial;
}

@media only screen and (max-width: 1400px) {
    .intro_div {
        height: auto;
    }
    .intro_item {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .intro_div {
        height: auto;
    }
    .intro_item {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    .sub-title-header {
        color: white;
        font-size: 10px;
        text-align: start;
        margin-top: -8px;
        margin-left: 0px;
    }
    .intro_div {
        height: auto;
    }
    .intro_item {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .sub-title-header {
        color: white;
        font-size: 10px;
        text-align: start;
        margin-top: -8px;
        margin-left: 0px;
    }
    .intro_div {
        height: auto;
    }
    .background_video {
        position: absolute;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        margin-bottom: 100px;
    }
    .intro_item {
        width: 100%;
        margin-top: 20px !important;
    }
    .card_box {
        width: 100%;
    }
    .text_1 {
        font-size: 6vw;
    }
    .text_2 {
        font-size: 30px;
    }
    .text_3 {
        font-size: 18px;
    }
    #home {
        padding-top: 80px !important;
    }
}

.m-5 {
    margin: 1.25rem;
}


/* intro div */


/* Value  */

.componentValue {
    position: relative;
    z-index: 90;
    height: auto;
    width: 100%;
    z-index: 0;
    margin-bottom: 120px;
}

.wrapper_value {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
    height: 120px;
}

.divRowValue {
    flex-direction: row;
    display: flex;
    padding-top: 20px;
}

.divRowValue_900 {
    flex-direction: row;
    display: none;
}

.cardImgValue {
    width: 100%;
}

.mt20Value {
    margin-top: 20px;
}

.cardValue1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding-left: 50px;
}

.cardValue1_900 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.divValueTextCard {
    justify-content: center;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.textValue1 {
    font-family: 'Copperplate', sans-serif;
    font-size: 1.2vw;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
}

.textValueSmall2End {
    font-family: 'Copperplate', sans-serif;
    font-size: 1vw;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    align-self: flex-end;
    display: flex;
    margin-bottom: 5px;
    margin-left: 10px;
}

.textValueSmall2 {
    font-family: 'Copperplate', sans-serif;
    font-size: 1vw;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
}

.textValueSmall3 {
    font-family: 'Copperplate', sans-serif;
    font-size: 1vw;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
}

.textValueSmall4 {
    font-family: 'Copperplate', sans-serif;
    font-size: 1.2vw;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    display: flex;
    margin-left: 10px;
}

.textValueSmall1MT20 {
    font-family: 'Copperplate', sans-serif;
    font-size: 1vw;
    color: white;
    margin-top: 40px;
}

.textValueSmall1 {
    font-size: 1.5vw;
    color: white;
}

.divValueCol {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.borderCornerValue {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(36, 90, 156) 1px, transparent 4px) 0 100%, linear-gradient(to left, rgb(36, 90, 156) 1px, transparent 4px) 100% 0, linear-gradient(to bottom, rgb(36, 90, 156) 1px, transparent 4px) 100% 0, linear-gradient(to top, rgb(36, 90, 156) 1px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.divRowValueCenter {
    flex-direction: row;
    display: flex;
    text-align: start;
    margin-top: 10px;
}

.borderCardValue {
    margin: auto;
    width: 40%;
    box-shadow: 0px 0px 25px 1px rgba(36, 90, 156, 0.82);
    -webkit-box-shadow: 0px 0px 25px 1px rgba(36, 90, 156, 0.82);
    -moz-box-shadow: 0px 0px 25px 1px rgba(36, 90, 156, 0.82);
    background: linear-gradient(to bottom right, #000d24, rgb(3, 10, 24));
    border-color: white;
    border-width: 0.5px;
    border-style: solid;
    width: 65%;
    justify-content: center;
    display: flex;
    padding: 20px;
    align-items: center;
    position: relative
}

.divRowValueCenterbt20 {
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divBorderImgValue {
    width: 20vw;
    margin-left: -10vw;
}

.divRowValue2 {
    flex-direction: row;
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;
    align-items: center;
}

.divRowValue3 {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;
}

.divRowValue4 {
    border-width: 0.5px;
    border-color: white;
    border-style: solid;
    width: 80%;
    height: 120px;
    box-shadow: 0px 0px 25px 1px rgba(36, 90, 156, 0.82);
    -webkit-box-shadow: 0px 0px 25px 1px rgba(36, 90, 156, 0.82);
    -moz-box-shadow: 0px 0px 25px 1px rgba(36, 90, 156, 0.82);
    background: linear-gradient(#000d24, #033954);
    justify-content: center;
    justify-items: center;
}

.divRowValue5 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.divColValue {
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: center;
    align-items: center;
}

.divColValueImageLogoTeam {
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: center;
}

.divRowValue3 {
    display: flex;
    flex-direction: row;
}

.textValue2 {
    color: rgb(36, 90, 156);
    font-size: 16px;
    font-family: 'Copperplate', sans-serif;
}

.divColValue2 {
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.imgLogoTeamValue {
    width: 100%;
    height: 100%;
}

.value_span {
    font-size: 1vw;
}

@media only screen and (max-width: 1400px) {
    .divRowValue {
        display: flex;
    }
    .componentValue {
        height: auto;
    }
    .divRowValue_900 {
        display: none;
    }
    .divRowValue4 {
        border-width: 0.5px;
        border-color: white;
        border-style: solid;
        width: 90%;
        height: 120px;
    }
}

@media only screen and (max-width: 1200px) {
    .divRowValue {
        display: flex;
    }
    .componentValue {
        height: auto;
    }
    .divRowValue_900 {
        display: none;
    }
    .divRowValue4 {
        border-width: 0.5px;
        border-color: white;
        border-style: solid;
        width: 95%;
        height: 120px;
    }
    .value_span {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 1000px) {
    .componentValue {
        /* height: 70vh; */
    }
    .divRowValue {
        display: flex;
    }
    .borderCardValue {
        margin-bottom: 10px;
    }
    .divRowValue_900 {
        display: none;
    }
    .divRowValue4 {
        border-width: 0.5px;
        border-color: white;
        border-style: solid;
        width: 95%;
        height: 120px;
    }
    .value_span {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 900px) {
    .componentValue {
        height: auto;
    }
    .divRowValue {
        display: none;
    }
    .divRowValue_900 {
        display: flex;
    }
    .cardImgValue {
        width: 90%;
    }
    .textValueSmall1MT20 {
        font-size: 2vw;
        margin-top: 20px;
    }
    .divValueCol {
        padding: 0px;
    }
    .textValueSmall2End {
        font-size: 2vw;
        margin-bottom: 2px;
    }
    .textValueSmall2 {
        font-size: 2vw;
    }
    .textValueSmall3 {
        font-size: 2vw;
    }
    .textValueSmall4 {
        font-size: 2vw;
    }
    .textValue2 {
        font-size: 12px;
    }
    .textValue1 {
        font-size: 20px;
    }
    .wrapper_value {
        display: grid;
        grid-template-columns: 120px auto auto auto auto;
        grid-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .divRowValue4 {
        border-width: 0.5px;
        border-color: white;
        border-style: solid;
        width: 95%;
        height: 120px;
    }
    .value_button {
        display: none;
    }
    .value_span {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 800px) {
    .value_span {
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 600px) {
    .componentValue {
        height: auto;
    }
    .textValue2 {
        font-size: 12px;
    }
    .textValue1 {
        font-size: 20px;
    }
    .wrapper_value {
        display: grid;
        grid-template-columns: 100px auto auto auto auto;
        grid-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .divRowValue4 {
        width: 90%;
    }
    .value_span {
        font-size: 2vw;
    }
    .btnImagValue {
        width: 100%;
        height: 120px;
    }
}

.btnImagValue {
    min-width: 100px;
}

@media only screen and (max-width: 500px) {
    .componentValue {
        /* height: 75vh; */
    }
    .divRowValue_900 {
        display: flex;
    }
    .divRowValue2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textValueSmall2End {
        margin-bottom: 0px;
    }
    .textValue2 {
        font-size: 8px;
    }
    .textValue1 {
        font-size: 10px;
    }
    .divRowValue4 {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .value_span {
        font-size: 2.2vw;
    }
    .wrapper_value {
        display: grid;
        grid-template-columns: 95px auto auto auto auto;
        grid-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: 120px;
    }
    .btnImagValue {
        width: 100%;
        height: 100%;
    }
}


/* End Value */


/* Invertment */

.componentInvest {
    /* position: relative; */
    z-index: 90;
    width: 100%;
    background-size: 120% 100%;
    animation: mymove 9s infinite linear;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 15px;
    align-items: center;
    animation-iteration-count: infinite;
}

@keyframes mymove {
    0% {
        background-image: url(../image/Group_288.png);
    }
    20% {
        background-image: url(../image/Group_295.png);
    }
    40% {
        background-image: url(../image/Group_288.png);
    }
    60% {
        background-image: url(../image/Group_295.png);
    }
    80% {
        background-image: url(../image/Group_288.png);
    }
    100% {
        background-image: url(../image/Group_295.png);
    }
}

.divInvest {
    margin-left: 0;
    /* width: 60%; */
}

.textInvest1 {
    font-family: 'Copperplate', sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
}

.mt20Invest {
    margin-top: 20px;
}

.mtb40Invest {
    margin-top: 40px;
    margin-bottom: 40px;
}

.textInvestSmall {
    font-family: 'Copperplate', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    display: flex;
    margin-bottom: 10px;
}

.card_img_value_investment {
    /* width: 700px;
    height: 700px; */
    left: 0px;
}

.card_img_value_investment_1 {
    /* width: 600px; */
    right: 0px;
}

.card_img_value_investment_1 img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1400px) {
    .card_img_value_investment_1 {
        right: 0px;
    }
}

@media only screen and (max-width: 900px) {
    .textInvest1 {
        font-size: 28px;
    }
    .textInvestSmall {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card_img_value_investment {
        /* width: 600px;
        height: 600px;
        position: absolute;
        left: -160px; */
    }
}

@media only screen and (max-width: 500px) {
    .componentInvest {
        width: 100%;
    }
    .textInvest1 {
        font-size: 4vw;
    }
    .textInvestSmall {
        font-size: 3vw;
        margin-bottom: 10px;
    }
    .card_img_value_investment {
        /* width: 500px;
        height: 500px;
        position: absolute;
        left: -220px; */
    }
    .mt20Invest {
        margin-top: 10px;
    }
    .mtb40Invest {
        margin-top: 22px;
        margin-bottom: 22px;
    }
}


/* End Invertment */


/* Future */

.componentFuture {
    position: relative;
    width: 100%;
    /* background-color: #000d24; */
    margin-bottom: 40px;
    z-index: -1 !important;
}

.text_future {
    font-size: 36px;
    /* text-shadow: 0px -2px 6px rgba(36, 90, 156, 1); */
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.text_future_sm {
    font-size: 32px;
    /* text-shadow: 0px -2px 6px rgba(36, 90, 156, 1); */
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.future_flexDirection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.grid-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

.future_borderCornerValue {
    width: 180px;
    max-height: 60px;
    min-width: 100%;
    background: linear-gradient(to bottom right, #010610, #161160);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.future_divRowValueCenter {
    flex-direction: row;
    display: flex;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 18px;
}

.future_borderCardValue {
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgba(36, 90, 156, 0.82);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(36, 90, 156, 0.82);
    -moz-box-shadow: 0px 0px 10px 1px rgba(36, 90, 156, 0.82);
    max-height: 200px;
    background: linear-gradient(to bottom right, #010610, #161160);
    border-color: white;
    border-width: 0.5px;
    border-style: solid;
    width: 160px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.text_card {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
}

.future_img {
    width: 100%;
    height: 150px;
    justify-content: center;
    display: flex;
    /* object-fit: cover; */
}

.future_img gg {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    object-fit: cover;
}

#slidecaption_card {
    -webkit-animation-name: spinner_card;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    animation-name: spinner_card;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    /* animation: spinner_card 10s; */
    animation-fill-mode: forwards;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#slidecaption_card1 {
    -webkit-animation-name: spinner_card;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    animation-name: spinner_card;
    animation: spinner_card 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 12.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/* WebKit and Opera browsers */

@-webkit-keyframes spinner_card {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}


/* all other browsers */

@keyframes spinner_card {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}


/* WebKit and Opera browsers */

@-webkit-keyframes spinner_card1 {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}


/* all other browsers */

@keyframes spinner_card1 {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

@media only screen and (max-width: 900px) {
    .future_borderCardValue {
        width: 100px;
    }
    .text_card {
        font-size: 10px;
        margin-top: 6px;
    }
    .future_borderCornerValue {
        width: 120px;
        max-height: 40px;
        min-height: 40px;
        background-size: 6px 6px;
    }
    .future_divRowValueCenter {
        margin-top: 3px;
        margin-bottom: 6px;
    }
    .future_img {
        width: 100px;
        height: 100px;
        /* object-fit: cover; */
    }
    .text_future {
        font-size: 3.6vw;
    }
    .text_future_sm {
        font-size: 2.8vw;
    }
}

@media only screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    .future_borderCardValue {
        width: 130px;
    }
    .text_card {
        font-size: 11px;
        margin-top: 5px;
    }
    .future_borderCornerValue {
        width: 120px;
        max-height: 45px;
        background-size: 10px 10px;
    }
    .future_divRowValueCenter {
        /* margin-top: 10px; */
        margin-bottom: 18px;
    }
    .future_img {
        width: 100%;
        height: 110px;
    }
    .text_future {
        font-size: 3.6vw;
    }
    .text_future_sm {
        font-size: 2.8vw;
    }
}


/* End Future */


/* Utility */

.componentUtility {
    position: relative;
    z-index: 90;
    width: 100%;
    overflow: hidden;
}

.divColUtility {
    flex-direction: column;
    display: flex;
}

.divRowUtility {
    flex-direction: row;
    display: flex;
}

.divRowUtilityMobile {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* margin-bottom: 50px; */
}

.hideUtilityMobile {
    display: none;
}

.textUtility1Mobile {
    font-family: 'Copperplate', sans-serif;
    color: white;
    text-shadow: 0px -2px 6px rgb(36, 90, 156);
    display: flex;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
}

.imgTokenUtility {
    width: 55vw;
    margin-left: -18vw;
    margin-top: -25%;
}

.imgBorder1Utility {
    margin-top: 110px;
    width: 30%;
    height: 40px;
}

.imgBorder2Utility {
    width: 30%;
    margin-top: 110px;
    height: 40px;
}

.imgBorderUtilityMobile {
    width: 30vw;
    height: 30px;
}

.divCornerUtility {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 30px;
    height: 50px;
    width: 40%;
    background: linear-gradient(to right, rgb(36, 90, 156) 4px, transparent 4px) 0 0, linear-gradient(to right, rgb(36, 90, 156) 4px, transparent 4px) 0 100%, linear-gradient(to left, rgb(36, 90, 156) 4px, transparent 4px) 100% 0, linear-gradient(to left, rgb(36, 90, 156) 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, rgb(36, 90, 156) 4px, transparent 4px) 0 0, linear-gradient(to bottom, rgb(36, 90, 156) 4px, transparent 4px) 100% 0, linear-gradient(to top, rgb(36, 90, 156) 4px, transparent 4px) 0 100%, linear-gradient(to top, rgb(36, 90, 156) 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 40px 25px;
}

.textUtility1 {
    font-family: 'Copperplate', sans-serif;
    font-size: 2.5vw;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    display: flex;
    justify-content: center;
}

.rankIconUtility {
    width: 20vw;
}

.textUtilitySmall {
    font-family: 'Copperplate', sans-serif;
    font-size: 1.2vw;
    color: white;
    text-shadow: 0px -2px 6px rgba(36, 90, 156, 1);
    display: flex;
    /* margin-left: 10px; */
    margin-bottom: 20px;
}

.alignCenterUtility {
    align-items: center;
}

.ml-100Utility {
    margin-left: -100px;
}

.w12vwUtility {
    width: 190px;
    height: 200px;
}

.w12vwUtility svg {
    width: 100% !important;
    height: 100% !important;
}

.w15vwUtility {
    width: 15vw;
}

.tokenRightUtility {
    width: 42vw;
    margin-top: -400px;
    /* margin-right: -500px; */
    margin-left: -2vw
}

.mlmtUtility {
    margin-left: 250px;
    margin-top: 100px;
}

.divVoteUtility {
    margin-left: 250px;
    margin-top: -50px;
}

.divTokenUtility {
    margin-left: 250px;
    /* margin-top: -50px; */
}

.ml200Utility {
    margin-left: 200px;
}

.ticketUtility {
    /* margin-top: -250px;
    margin-left: 200px; */
    align-self: center;
}

.textTicketUtility {
    justify-content: center;
    display: flex;
}

.w40vwUtility {
    width: 40vw;
}

@media only screen and (max-width: 1400px) {
    .divRowUtility {
        display: flex;
    }
    .imgTokenUtility {
        width: 50vw;
        margin-top: -10%;
    }
    .ml-100Utility {
        margin-left: 0px;
    }
    .mtTicketUtility {
        margin-top: 0px;
    }
    .tokenRightUtility {
        margin-top: -350px;
    }
}

@media only screen and (max-width: 1000px) {
    .divRowUtility {
        display: flex;
    }
    .imgTokenUtility {
        width: 55vw;
        margin-top: 0;
    }
    .mlmtUtility {
        margin-left: 150px;
        margin-top: 80px;
    }
    .divTokenUtility {
        margin-left: 120px;
    }
    .tokenRightUtility {
        margin-top: -300px;
        margin-left: -5vw;
    }
    .textUtilitySmall {
        font-size: 1.4vw;
    }
    .w15vwUtility {
        width: 17vw;
    }
}

@media only screen and (max-width: 850px) {
    .divRowUtility {
        display: flex;
    }
    .imgBorder1Utility {
        height: 30%;
    }
    .imgBorder2Utility {
        height: 30%;
    }
    .textUtility1 {
        font-size: 2.5vw;
    }
    .divCornerUtility {
        padding: 20px;
    }
    .mlmtUtility {
        margin-left: 70px;
    }
    .divTokenUtility {
        margin-left: 70px;
    }
    .ml-100Utility {
        margin-left: -20px
    }
    .ml200Utility {
        margin-left: 150px;
    }
    .w12vwUtility {
        width: 190px;
    }
    .w12vwUtility svg {
        width: 100% !important;
        height: 100% !important;
    }
}

@media only screen and (max-width: 750px) {
    .divRowUtility {
        display: flex;
    }
    .tokenRightUtility {
        margin-top: -200px;
        margin-left: -10vw;
    }
    .imgTokenUtility {
        margin-top: 30px;
    }
    .mtTicketUtility {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 650px) {
    .divRowUtility {
        display: flex;
    }
    .imgTokenUtility {
        margin-top: 50px;
    }
    .mtTicketUtility {
        margin-top: 100px;
    }
    .imgBorder1Utility {
        height: 27%;
    }
    .imgBorder2Utility {
        height: 27%;
    }
}

@media only screen and (max-width: 500px) {
    .divRowUtility {
        display: flex;
    }
    .hideUtilityMobile {
        display: block;
    }
    .divCornerUtility {
        margin-top: 100px;
    }
    .divCornerUtility {
        height: 10px;
        background-size: 20px 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .ml-100Utility {
        margin-left: 0px;
    }
    .textUtilitySmall {
        font-size: 3vw;
    }
}


/* End Ultility */


/* Partner */

.component_Partner {
    width: 100%;
}

.card_img_value_partner {
    width: 100%;
    height: 400px;
}

.card_value_partner {
    position: relative;
    display: flex;
}

.textValue1s {
    font-family: 'Prompt', sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 50px;
    color: white;
    text-shadow: 0px -2px 6px rgb(0, 26, 59);
    margin-bottom: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
}

.partner_img {
    width: 100%;
    height: 200px;
    justify-content: center;
    display: flex;
    /* object-fit: cover; */
}

.partner_div_img {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background: rgb(0 9 67);
}

@media only screen and (max-width: 900px) {
    .wrapper {
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
    }
    .partner_img {
        width: 160px;
        height: 160px;
    }
    .card_img_value_partner {
        width: 100%;
        height: 500px;
    }
    .textValue1s {
        font-size: 3vw;
        margin-left: 60px;
        margin-top: 60px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: auto auto;
        grid-gap: 0px;
    }
    .partner_img {
        width: 140px;
        height: 140px;
    }
    .card_img_value_partner {
        width: 100%;
        height: 650px;
    }
    .textValue1s {
        font-size: 5vw;
        margin-left: 50px;
        margin-top: 85px;
    }
}


/* End Partner */


/* FAQ */

.faq {
    padding-bottom: 80px;
}

@media(max-width:767px) {
    .faq .xs-margin {
        margin-top: 20px!important
    }
}

.faq .section-title {
    margin-bottom: 60px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .faq .section-title {
        margin-bottom: 40px
    }
}

@media(max-width:767px) {
    .faq .section-title {
        margin-bottom: 30px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .faq {
        padding-bottom: 40px
    }
}

@media(max-width:767px) {
    .faq {
        padding-bottom: 30px
    }
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-right: 40px
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.accordion-item .accordion-button {
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    display: block;
    overflow: hidden;
    border: none;
    padding: 15px 25px;
    padding-right: 40px;
    background-color: #fff
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .accordion-item .accordion-button {
        padding: 18px 20px;
        padding-right: 40px
    }
}

@media(max-width:767px) {
    .accordion-item .accordion-button {
        padding: 15px 20px;
        padding-right: 40px
    }
}

.accordion-item .accordion-button .title {
    font-size: 14px;
    position: relative;
    font-weight: 600;
    float: left;
    line-height: 25px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .accordion-item .accordion-button .title {
        font-size: 14px
    }
}

@media(max-width:767px) {
    .accordion-item .accordion-button .title {
        font-size: 14px
    }
}

.accordion-item .accordion-button svg {
    font-size: 15px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    top: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #3e80ff;
    border-radius: 4px 4px 0 0
}

.accordion-button:not(.collapsed) svg::before {
    content: "\eb2e";
    font-family: lineIcons
}

.accordion-button::after {
    display: none
}

.accordion-collapse {
    border: none
}

.accordion-body {
    border-radius: 0 0 4px 4px;
    padding: 25px;
    background-color: #fff
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .accordion-body {
        padding: 30px
    }
}

@media(max-width:767px) {
    .accordion-body {
        padding: 20px
    }
}

.accordion-body p {
    margin: 0;
    margin-bottom: 20px;
    color: #777
}

.accordion-body p:last-child {
    margin: 0
}

.accordion-item {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 20px #00000007;
    box-shadow: 0 0 20px #00000007;
    border-radius: 4px
}

.accordion-item:last-child {
    margin: 0
}

.section-title h3 {
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
    color: #3e80ff;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .faq .section-title {
        margin-bottom: 30px;
    }
    .faq .section-title {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .section-title {
        padding: 0 10px;
        margin-bottom: 40px;
    }
    .section-title h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    .section-title {
        text-align: center;
        margin-bottom: 80px;
        position: relative;
        z-index: 5;
    }
}


/* Footer */

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(#0a033000, rgb(36, 90, 156));
}

.div_footer {
    display: flex;
    justify-content: center;
}

.text_footer {
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}

.footer_img {
    width: 26px;
    height: 26px;
    justify-content: center;
    display: flex;
    /* object-fit: cover; */
    margin-top: 5px;
    margin-right: 25px;
    margin-left: 25px;
}


/* End Footer */

svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #ffa5d8;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%)
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%)
    }
}

.box-icon-style {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 25px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    margin-left: 20px;
}